<form role='form' id='newPort'>
  <div class='form-group'>
    <label for='title'>Title</label>
    <input class="form-control" type='text' id='title'/>
  </div>

  <div class="form-group">
    <label for='img'>Img</label>
    <input class="form-control" type="text" id='img'/>
  </div>

  <div class="form-group">
    <label for='desc'>Img</label>
    <input class="form-control" type="text" id='desc'/>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
