<form role='form' id='newPort'>
  <div class='form-group'>
    <label for='portTitle'>Title</label>
    <input class="form-control" type='text' id='portTitle'/>
  </div>

  <div class="form-group">
    <label for='portImg'>Img</label>
    <input class="form-control" type="text" id='portImg'/>
  </div>

  <div class="form-group">
    <label for='portDesc'>Description</label>
    <input class="form-control" type="text" id='portDesc'/>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
