$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';


/* Space out content a bit */


/* Everything but the jumbotron gets side spacing for mobile first views */


/* Custom page header */

$main-font: #00585E;
$sec-font: #15A3AD;
$tres-font: #44C5CF;

header {
    border-bottom: 1px solid #e5e5e5;
    h1 {
      color: $main-font;
      display: inline-block;
    }
    nav {
      display: inline-block;
      float: right;
      ul li {
        list-style: none;
        float: left;
        padding-left: 15px;
      }
      a {
        color: $sec-font;
      }
    }
}

main {
  margin: 3% 10%;
}

#appContainer {

  h1 {
    color: $sec-font;
  }

}

#newPost {
  width: 70%;
  margin: 0 auto;
}

.project {
  li{
    list-style: none;
  }
}
